.header {
  width: 100%;
  display: flex;
}

.header__container {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: relative;
}

.logo {

}

.heading {
    font-family: 'Satisfy', cursive;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    text-decoration-color: blue;


}

.header__navigation {
  font-family: 'Satisfy', cursive;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.header__list {
  display: flex;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  grid-column: 2/3;

}

.header__link {
  text-decoration: none;
  color: black;

}

.header__button-signin {

}

.header__button-signup {

}