.subscriptionsList {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 80px;
}
.subscriptionsList__gallery {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 10px;
  list-style: none;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 60px;
  column-gap: 30px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 28px;
}
.subscriptionsList__showmore {
  font-family: 'Lobster', sans-serif;
  border-radius: 10px;
  background: white;
  border: 1px solid blue;
  color: blue;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 320px;
  align-self: center;
  padding: 9px 60px;
  transition: .4s ease-in-out;
  cursor: pointer;
  margin-top: 50px;
}

.subscriptionsList__showmore:hover {
  background-color: blue;
  color: rgb(236, 233, 233);
}